@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:400,700');

html,
body {
    font-size: 19px;
    font-family: 'Zilla Slab', serif;
}


#wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
 
#content {
    flex: 1;
}

footer {
    padding: 15px 0;
    color: #fff;
    text-align: center;
}